
@{
    ViewData["Title"] = "Characters List";
}

<div class="alert alert-info">
    <h1>@ViewData["Title"] </h1>
    <div>Last Update Time</div>
    <div id="lastUpdateTime"></div>
</div>


<div class="row">
    <div class="col-12">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for characters..." title="Type in a name">
        <table class="table table-hover rounded" id="charactersTable">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Image
                    </th>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </div>
</div>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/characterloaderhub.js"></script>
<script>

function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("charactersTable");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                            txtValue = td.textContent || td.innerText;
                             if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                    tr[i].style.display = "";
                             } else {
                                    tr[i].style.display = "none";
                             }
                    }
            }
}
</script>


